@page "/kitapturu-listesi"
@using KubisDeneme.Api.Controllers
@using System.Net.Http.Json
@using System.Collections.Generic
@using KubisDeneme.DTO

@inject HttpClient Http

<h3>Kitap Türü Listesi</h3>

<Grid TItem="KitapTuruDTO"
      Class="table table-hover table-bordered table-striped"
      DataProvider="KitapTuruDataProvider"
      AllowPaging="true"
      PageSize="5"
      Responsive="true">

    <GridColumns>
        <GridColumn TItem="KitapTuruDTO" HeaderText="Ad">
            @context.Ad
        </GridColumn>

        <GridColumn TItem="KitapTuruDTO" HeaderText="Eklenme Tarihi">
            @context.EklenmeTarihi?.ToLocalTime().ToString("dd/MM/yyyy")
        </GridColumn>

        <GridColumn TItem="KitapTuruDTO" HeaderText="Güncellenme Tarihi">
            @context.GuncellenmeTarihi?.ToLocalTime().ToString("dd/MM/yyyy")
        </GridColumn>

        <GridColumn TItem="KitapTuruDTO" HeaderText="Güncelle">
            <Button Type="ButtonType.Link" Color="ButtonColor.Primary" Size="ButtonSize.ExtraLarge" To="@($"/kitapturu-guncelle/{context.Id}")">Kitap Türünü Güncelle</Button>
        </GridColumn>
    </GridColumns>
</Grid>

<div class="d-grid gap-1 mb-4">
    <Button Type="ButtonType.Link" Color="ButtonColor.Success" Size="ButtonSize.ExtraLarge" To="/kitap-turu-ekle">Kitap Turu Ekle</Button>
</div>

<div class="d-grid gap-1 mb-4">
    <Button Type="ButtonType.Link" Color="ButtonColor.Info" Size="ButtonSize.ExtraLarge" To="">Ana Sayfa</Button>
</div>


@code {
    private List<KitapTuruDTO>? kitapturu;

    protected override async Task OnInitializedAsync()
    {
        await LoadData();
    }

    private async Task<GridDataProviderResult<KitapTuruDTO>> KitapTuruDataProvider(GridDataProviderRequest<KitapTuruDTO> request)
    {
        if (kitapturu is null)
            kitapturu = await Http.GetFromJsonAsync<List<KitapTuruDTO>>("api/Kitapturu");

        return await Task.FromResult(request.ApplyTo(kitapturu));
    }

    private async Task LoadData()
    {
        kitapturu = await Http.GetFromJsonAsync<List<KitapTuruDTO>>("api/Kitapturu");
    }
}
